.body{
    background-color: rgb(152, 152, 152);

}

.container{
padding: 1rem 0 ;
display: flex;
width: 90%;
box-sizing: border-box;
border-radius: 3rem;
margin: auto;
min-height: 900px;



}

.rightside{
width: 50%;
background: url(../images/profile2.jpeg);
background-size:cover;
background-repeat: no-repeat;
overflow: hidden;
display: flex;




}

.leftside{
width: 50%;
background-color: chocolate;
padding: 1rem 0;

}
.leftside h2{
    color: rgb(50, 50, 50);
    padding-left: 1rem;
}
.aboutustext{
color: #e2e2e2;
    font-size: x-large;
    text-indent: 2rem;
}

.text{

    text-align: center;
    font-size: xx-large;


}

@media only screen and (max-width :450px) {
     .container{
        width: 100vw;
flex-direction: column;
    display: flex;
    margin: auto;
    height: 150%;
    justify-content: center;
    align-items: center;
    }
    .rightside{



background-size: cover;
width: 80%;
height: 400px;
    }

    .leftside{
        width: 80%;



    }

    .aboutustext{
        color: #e2e2e2;
            font-size: large;
            text-indent: 0;
            text-align: center;
        }


        .leftside h2{
            text-align: center;
        }
/*
        .aboutustext{
        color: #e2e2e2;
            font-size: large;
            text-indent: 2rem;
        } */
        
    }


/* @media only screen and  (min-width : 320px) and (max-width :450px) {
      
    }
  
  
   */
   
  