.body{
    background-color: rgb(152, 152, 152);

}

.container{
    padding-top: 1rem;
display: flex;
width: 90%;
box-sizing: border-box;
height: 100vh;
/* border-radius: 5rem; */
overflow: hidden;
margin: auto;
}

.rightside{
width: 50%;
background: url(../images/profile2.jpeg);
background-size:cover;
background-repeat: no-repeat;
overflow: hidden;
display: flex;
min-height: 400px;

}

.leftside{
width: 50%;
background-color: chocolate;
padding: 3rem;
}
.leftside h2{
    color: rgb(50, 50, 50);
}
.aboutustext{
color: #e2e2e2;
    font-size: x-large;
    text-indent: 2rem;
}

.text{

    text-align: center;
    font-size: xx-large;


}

@media only screen and (max-width :450px) {
    .container{


flex-direction: column;
    display: flex;
    }
    .rightside{



background-size: cover;
width: 100vw;
height: 600px;
    }

    .leftside{
        width: 100vw;


    }

        .aboutustext{
        color: #e2e2e2;
            font-size: small;
            text-indent: 2rem;
        }
    }


@media only screen and  (min-width : 320px) and (max-width :450px) {
      
    }
  
  
  
   
  