.blogcontainer{


    border: 1px solid #404756;
    box-sizing: border-box;
    padding: 1rem;
border-radius: 1rem;

    margin: auto;

    


}
.blogcontainer a {
    color: #fff;
    text-decoration: none;
}

.blogcontainer a:hover {
    color: #ff9d00;

}