.container img {
    width: 100%;

}

.container:hover {
    transform: scale(1.1);
    cursor: pointer;

}



.container {
    width: 300px;
    margin: 30px;
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -5px -5px 20px 10px rgb(189, 189, 189);
    display: flex;
}

.container h3 {
    color: #525252;
    margin: .5rem 0;
    text-align: center;
}

.container p {
    color: #6d6d6d;
    margin: 0 25px 20px;
    background-color: brown;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

}