.container {
    display: flex;
    margin: 4rem 0 4rem;
    justify-content: center;
}

.heading2{

    font-size: 1.5rem;
    text-align: center;
    margin-top: 4rem;
    position: relative;
    animation: introtext 1s ease-in forwards ;
}

@media only screen and (max-width:1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media only screen and (max-width:681px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes introtext {
    
from {
transform: translateX(-500px);
}

to {
    transform: translateX(100px);
    transform: scale(1.3);

}

}