.container img {
    width: 300px;
    height: 300px;

}


.container {
    width: 300px;
    margin: 30px;
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -5px -5px 20px 10px rgb(189, 189, 189);
}

.container h3 {
    color: #0b0b0b;
    margin: 30px 20px 20px;
}

.container p {
    color: #fff;
    margin: 0 25px 20px;
    background-color: brown;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

}

.counter {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
}

.counter img {
    width: 20px !important;
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.counter span {
    background-color: rgb(255, 145, 0);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.deactive {
    opacity: .3;
}