.container {
    width: 100%;
}

.footerbox{
    display: flex;
    color: #fff;
    padding: 2rem;
    background-color: rgb(35, 34, 34);
}

.firstbox,.secondbox,.thirdbox{

    width: 33.33%;
}



.copyrightbar{
    background-color: rgb(0, 0, 0);
    color: #fff;
   text-align: center;
   position: relative;
   bottom: 0;

}