.container {
    width: 100%;
}

.footerbox{
    display: flex;
    color: #fff;
    padding: 2rem;
    background-color: rgb(35, 34, 34);
}

.firstbox,.secondbox,.thirdbox{

    width: 33.33%;
}
.aboutinfooter a{
    color: #ffa600;
    text-decoration: none;
}
.firstbox p{
    width: 70%;
    padding: 0.1rem;
    margin-top: 1rem;
    line-height: 2rem;
    
}

.footerbox ul {
    list-style-type: none;

}

.footerbox ul li {
   padding: .5rem;

}

.quicklinks a{
    color: #fff;
    text-decoration: none;
}

.copyrightbar{
    background-color: rgb(0, 0, 0);
    color: #fff;
   text-align: center;
   position: relative;
   bottom: 0;

}
.logobar{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    
}
.logobar span {
    margin-left: .5rem;
}

.line {
    width: 70%;
    height: 1px;
    background-color: #fff;
    

}
.iconbox{
    display: flex;
    flex-direction: column;
}

.mailicon,.telIcon{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.mailicon a,.telIcon a {
    color: #fff;
    text-decoration: none;
    font-size: large;
}

@media only screen and (max-width :450px) {

    .footerbox{
flex-direction: column;
    }
    
    .firstbox,.secondbox,.thirdbox{

        width: 100%;
    }

    .line{
        width: 100%;
    }
    .firstbox p{
        width: 100%;
        border-bottom: 1px dotted #fff;
        margin-bottom: 1rem;

        
    }

    .quicklinks {
        border-bottom: 1px dotted #fff;
        margin-bottom: 1rem;
    }
}