.maindiv {}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    z-index: 4;


}







.list {
    display: flex;
    list-style: none;

}

.list li {
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.list li a:hover {
    color: rgb(212, 212, 212);
    transition: all .3s;
}

.list li a {
    color: #fff;
    text-decoration: none;
}




.container {
    /* width: 300px;
    height: 100vh; */

    align-items: center;
    justify-content: flex-end;
}

.menubox {
    width: 100%;
    position: absolute;
    z-index: 3;
}

.hamLi {
    padding: 1rem;
    border-bottom: 1px solid #7e7e7e;
}


.Link {
    color: #fff;
    text-decoration: none;

}

/* desktop class */

@media only screen and (min-width :449px) {

    .hamicon,
    .dropdownmenu,
    .dropupmenu {
        display: none;
    }


}

@media only screen and (max-width :450px) {

    .listContainer {
        display: none;
    }

    .logo img {
        width: 12vw;
    }

    .menubox {
        width: 100%;
        position: absolute;
        z-index: 3;

        animation: menuhider 2s;
    }

    .dropdownmenu {
        background-color: #555555;
        border: none;
        list-style: none;
        position: relative;
        z-index: 1;
        width: 100%;
        flex-direction: column;
        color: #fff;
        text-align: center;
        animation: dropup .5s ease-out;
        animation-fill-mode: forwards;


    }

    .dropupmenu {
        background-color: #555555;
        border: none;
        list-style: none;
        position: relative;
        z-index: 1;
        width: 100%;
        flex-direction: column;
        text-align: center;
        animation: dropdown 1s ease-in;

    }
}

@keyframes dropdown {

    from {
        top: -300px;
    }

    to {
        top: 0px;
    }
}

@keyframes dropup {

    from {
        top: 0;
    }

    to {
        top: -300px;
    }
}