.container {
    /* width: 300px;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamicon {
    width: 60px;
    height: 60px;
    background-color: #ff0000;
    cursor: pointer;
}

.line1 {
    width: 100%;
    height: 15px;
    background-color: #000;
    margin: 4px 0 2px;
}

.line2 {
    width: 100%;
    height: 15px;
    background-color: #000;
    margin-bottom: 2px;
}

.line3 {
    width: 100%;
    height: 15px;
    background-color: #000;
}

.dropdownmenu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    list-style: none;
}


.dropdown-menu li {
    margin-bottom: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    text-decoration: underline;
}

@media only screen and (min-width :449px) {

    .hamicon {
        display: none;
    }

}