.container {
    align-items: center;
    justify-content: flex-end;
}

.menubox {
    width: 100%;
    position: absolute;
    z-index: 3;
}

.hamLi {
    padding: 1rem;
    border-bottom: 1px solid #7e7e7e;
}


.Link {
    color: #fff;
    text-decoration: none;

}

/* desktop class */

@media only screen and (min-width :449px) {

    .hamicon,
    .dropdownmenu,
    .dropupmenu {
        display: none;
    }


}

@media only screen and (max-width :450px) {

    .listContainer {
        display: none;
    }

    .logo img {
        width: 12vw;
    }

    .menubox {
        width: 100%;
        position: absolute;
        z-index: 3;
    }

    .dropdownmenu {
        background-color: #555555;
        border: none;
        list-style: none;
        position: relative;
        z-index: 1;
        width: 100%;
        flex-direction: column;
        color: #fff;
        text-align: center;
        animation: dropup .5s ease-out;
        animation-fill-mode: forwards;


    }

    .displaynone {
        display: none;
    }

    .abbas{
        display: none;
    }


}



@keyframes dropup {

    from {
        top: 0;
    }

    to {
        top: -300px;
    }
}