.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 60px;

}

.css3{
    -webkit-transform: scale(0.8);
}

.css3:hover{
    -webkit-transform: scale(1);
}


.logos {
    display: flex;
    flex-direction: row;

}

.container h3 {
    color: #505050;
    font-size: 3rem;
    font-weight: bold;
    /* color: #cacaca; */
}

.container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.container img {
    width: 300px;
}

.logos img {
    width: 10vw;
}

.logos img:not(.css3):hover {
    -webkit-transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (max-width:450px) {
    .container h3 {
        font-size: 2rem;
    }
    .logos{
display: flex;
flex-direction: column;
    }

    .logos img {
        width: 30vw;
        padding: 1rem 0 ;
    }
}