.container {
    display: flex;
    background-color: blueviolet;
    min-height: 700px;
    justify-content: center;

}

.photo {
    background: url(../images/profile.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;

}

.textbox {
    font-size: 5rem;
    padding: 2rem;
    color: #fff;
    width: 60vw;
}

.textbox h2 {}


.textbox p {

    font-size: 2rem;
    margin-top: 2rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
}