.container {
    display: flex;
    background-color: blueviolet;
    min-height: 700px;
    justify-content: center;
    flex-direction: column;

}

.photo {
    background: url(../images/profile.jpeg);
    background-size: cover;
    background-repeat: no-repeat;


}

.textbox {
    font-size: 5rem;
    padding: 2rem;
    color: #fff;
    width: 400px;
}

.textbox h2 {}


.textbox p {

    font-size: 2rem;
    margin-top: 2rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

@media only screen and (max-width:900px) {
    .container {}

    .photo {}
}